.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.DS_Store
**/*.test.ts
**/*.spec.ts
**/coverage/**
**/test/**
**/tests/**
**/.nyc_output/**
webpack.config.js
vitest.config.ts
docs/**
Serial-Studio/**
*.md
!README.md